<div class="main">


<div class="content">
<h1>Cinema <br> 
 Ironhack</h1>   
<img class="cinema-home" src="./images/cinema.jpg" alt="cinema" width="1000">
<div class="boton">
   <a href="/movies"><button class="btn">Check the movies!</button></a>
</div>
</div>

